.header{
    background-color: var(--theme-color);
}
.header p{
    margin: 0px !important;
}
.mobile-nav p{
    color: var(--theme-color) !important;
    text-decoration: none !important;
    
}
.re-line{
    text-decoration:none !important;
}